apiVersion: v1
kind: Service
metadata:
  name: {{ include "theai.name" . }}-frontend
  labels:
    {{- include "theai.labels" . | nindent 4 }}
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
    - port: {{ .Values.frontend.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: {{ include "theai.name" . }}-frontend